{
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
