.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

**/dist/*
**/es/*
**/coverage/*
**/.lowdefy/*
**/.env
**/lowdefy.yaml
!packages/docs/lowdefy.yaml
!packages/docs/howto/**/lowdefy.yaml

.DS_Store

packages/build/src/test/writeFile.txt

packages/graphql/globalConfig.json
packages/graphql/node_modules/**

packages/connections/connectionMongoDB/mongod-*
packages/connections/connectionMongoDB/globalConfig.json
