.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

**/dist/*
**/coverage/*
**/.lowdefy/*
**/lowdefy.yaml

.DS_Store

packages/express/config/**
packages/build/src/test/writeFile.txt
packages/graphql/globalConfig.json
packages/graphql/node_modules/**
packages/server/dev/**
