.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

**/dist/*
**/es/*
**/coverage/*
**/.lowdefy/*
**/.env
**/lowdefy.yaml
!packages/docs/lowdefy.yaml

.DS_Store

packages/express/config/**
packages/build/src/test/writeFile.txt
packages/graphql/globalConfig.json
packages/graphql/node_modules/**

