name: Tests

on:
  push:
    branches:
      - main
      - develop

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        node: [20, 22]
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm build
        if: matrix.os != 'windows-latest'
      - name: Build (skip website on Windows)
        run: pnpm -r --filter='!@lowdefy/website' --filter='!@lowdefy/lowdefy' build
        if: matrix.os == 'windows-latest'
      - run: pnpm test
      - uses: codecov/codecov-action@v3
